

.cuadrocontacto {  
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 40% 40% 20% ;

  grid-template-areas:
   "contactate inputText logoVertical";
}


main.cuadrocontacto{ grid-area: contactate;}
main.section { grid-area: inputText;}
main.img {grid-area: logoVertical;}

h3 {
    color: black
}

